<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Post:</strong>
  <%= @comment.post_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @comment.text %>
</p>

<%if can? :update, @comment %><%= link_to 'Edit', edit_comment_path(@comment) %> | <% end %>
<%= link_to 'Back', comments_path %>
