<div class="d-flex align-items-center justify-content-center">
  <h1>Users</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col" >Name</th>
      <th scope="col" >Photo</th>
      <th scope="col" >Bio</th>
      <th scope="col" >Posts</th>
      <th scope="col"  colspan="3">Options</th>
    </tr>
  </thead>

  <tbody class="table table-striped">
    <% @users.each do |user| %>
      <tr>
        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <td><%= user.name %></td>
            </div>
            <div class="col">
              <td><%= image_tag url_for(user.photo), :size => "100x75", class: "img-thumbnail" %></td>
            </div>
            <div class="col">
              <td><%= user.bio %></td>
            </div>
            <div class="col">
              <td><%= user.PostsCounter %></td>
            </div>
            <div class="col">
              <td><%= link_to 'Show', user %></td>
              <td><%if can? :update, user %><%= link_to 'Edit', edit_user_path(user) %><% end %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>            
            </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

