<p id="notice"><%= notice %></p>

<p class="h3">
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Photo:</strong>
    <div class="col">
      <td><%= image_tag url_for(@user.photo), :size => "400x300", class: "img-thumbnail" %></td>
    </div>
</p>

<p class="text-start">
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Postscounter:</strong>
  <%= @user.PostsCounter %>
</p>

<%= link_to "User Posts", posts_path, class: "btn btn-link"%>

<%if can? :update, @user %><%= link_to 'Edit', edit_user_path(@user) %> |<% end %>
<%= link_to 'Back', users_path %>
