<div class="d-flex align-items-center justify-content-center">
  <h1>Posts</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">counter</th>
      <th scope="col">Likes</th>
      <th scope="col" colspan="3">Options</th>
    </tr>
  </thead>

  <tbody class="table table-striped">
    <% @posts.each do |post| %>
      <tr>
        <div class="container">
          <div class="row align-items-start">
            <div class="col">
              <td><%= post.user_id %></td>
            </div>
            <div class="col">
              <td><%= post.title %></td>
            </div>
              <div class="col">
                <td><%= post.text %></td>
              </div>
            <div class="col">
              <td><%= post.CommentsCounter %></td>
            </div>
              <div class="col">
                <td><%= post.LikesCounter %></td>
              </div>
              <div class="col">
                <td><%= link_to 'Show', post %></td>
                <td><%if can? :update, post %><%= link_to 'Edit', edit_post_path(post) %><% end %></td>
                <td><%if can? :destroy, post %><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></td>
              </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
